.wp-block-tk-link-ogp-card-block a  {
    position: relative;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    border: solid 1px #ccc;
    margin:0;
    border-radius: 4px;
    width: 100%;
    margin: 20px auto;
    color: #333;
    word-wrap: break-word;
    overflow:hidden;
    line-height: 1.4em;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.wp-block-tk-link-ogp-card-block a:hover {
    text-decoration: none;
    color: #333;
    background-color: #f1f1f1;
}
.wp-block-tk-link-ogp-card-block a .link-card__thumbnail-col {
    position: relative;
    width: 20%;
    margin: 10px;
}
.wp-block-tk-link-ogp-card-block a .link-card__thumbnail-col::before {
    content: "";
    display: block;
    padding-top: 100%;   
}
.wp-block-tk-link-ogp-card-block a .link-card__thumbnail-col .link-card__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    object-fit: cover;
}

.wp-block-tk-link-ogp-card-block a .link-card__detail-col {
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wp-block-tk-link-ogp-card-block a .link-card__detail-col p {
    margin-bottom: 0;
    word-wrap: break-word;
}
.wp-block-tk-link-ogp-card-block a .link-card__detail-col p.link-card__title {
    margin-top: 0;
    font-weight: bold;
    margin-bottom: 5px;  
    font-size: 14px;
    line-height: 1.6;
}
.wp-block-tk-link-ogp-card-block a .link-card__detail-col p.link-card__description {
    font-size: 11px;
    color: #666;
    margin-bottom: 10px;
    line-height: 1.6;
}

.wp-block-tk-link-ogp-card-block a .link-card__detail-col p.link-card__domain {
    margin-bottom: 0;
    font-weight: bold;
    color: #aaa;
    text-align: right;
    font-size: 11px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}